/* CONTACTO */

/* Pos Header */
.section_contacto .pos_header .data {
	background: white;
}

.section_contacto .pos_header h2 {
	font-weight: 700;
}

.section_contacto .pos_header h2 .outline {
	text-stroke-width: 1px;
	text-stroke-color: var(--secondary-color);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--secondary-color);
	text-align: center;
	font-size: 3rem;
	color: transparent;
	font-weight: 700;
}
/* Pos Header end */

/* Donación */
.section_contacto .donacion {
	background: var(--back-light-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.section_contacto .content_form {
	background: rgba(255,255,255,0.9);
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}
/* Donación end */

/* Formulario Contacto */
.section_contacto .formulario_contacto {
	padding-top: 60px;
	padding-bottom: 60px;
}
/* Formulario Contacto end */


/* MEDIA QUERIES */
@media (min-width: 480px) {

}

@media (min-width: 576px) {

	/* Formulario Contacto */
	.section_contacto .formulario_contacto {
		background: url('../img/home/chicos.jpg');
		background-position-x: 0%;
		background-position-y: 0%;
		background-repeat: repeat;
		background-position: 50% 0%;
		background-repeat: no-repeat;
		height: 600px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}
	/* Formulario Contacto end */


}

@media (min-width: 768px) {

	/* Donación */
	.section_contacto .content_form {
		padding: 40px 20px;
	}
	/* Donación end */

	/* Formulario Contacto */
	.section_contacto .formulario_contacto {
		height: 800px;
	}
	/* Formulario Contacto end */

}

@media (min-width: 992px) {

	/* Pos Header */
	.quienes .pos_header .data {
		justify-content: flex-start;
	}

	.section_contacto .pos_header h2 {
		text-align: left;
	}

	.section_contacto .pos_header h2 .outline {
		font-size: 4.5rem;
	}
	/* Pos Header end */

	/* Donación */
	.section_contacto .donacion {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.section_contacto .content_form {
		padding: 60px 20px;
	}
	/* Donación end */
	
}

@media (min-width: 1200px) {

	/* Pos Header */
	.section_contacto .pos_header h2 {
		font-size: 2.4rem;
	}

	.section_contacto .pos_header h2 .outline {
		font-size: 5rem;
	}
	/* Pos Header end */

	/* Donación */
	.section_contacto .donacion {
	  padding-top: 150px;
	  padding-bottom: 150px;
	}
	/* Donación end */

}

@media (min-width: 1300px) {

}

@media (min-width: 1400px) {

	/* Donación */
	.section_contacto .donacion {
	  padding-top: 130px;
	  padding-bottom: 130px;
	}
	/* Donación end */

	/* Formulario Contacto */
	.section_contacto .formulario_contacto {
	  height: 900px;
	}
	/* Formulario Contacto end */

}

@media (min-width: 1600px) {

	/* Pos Header */
	.section_contacto .pos_header h2 {
		padding-left: 20px;
		font-size: 3rem;
	}

	.section_contacto .pos_header h2 .outline {
		font-size: 6rem;
	}
	/* Pos Header end */

	/* Donación */
	.section_contacto .donacion {
		padding-top: 150px;
		padding-bottom: 150px;
	}

	.section_contacto .content_form {
		padding: 100px 50px;
	}
	/* Donación end */

}