/* Formulario */
.contacto .image_form {
	padding-top: 60px;
}

.contacto .formulario h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 60px;
	text-align: center;
	color: white;
}
/* Formulario end */

/* MEDIA QUERIES */
@media (min-width: 480px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

	/* Formulario */
	.contacto .image_form {
		background: url('../img/sumate/manos.jpg');
		background-size: cover;
		background-position: 50% 0%;
	}

	.contacto .formulario h1 {
		margin-bottom: 100px;
	}

	.contacto .formulario .content_form {
		margin: 20px auto 150px auto;
	}

	.contacto .formulario .content_form_donation {
		margin: -60px auto 100px auto !important;
	}
	/* Formulario end */

}

@media (min-width: 1200px) {

}

@media (min-width: 1300px) {

}

@media (min-width: 1600px) {

}